.Footer {
	grid-column: 1 / 13;
	display: flex;
	flex-direction: column;
	background-color: #364552;
	color: white;
}

.Footer > section {
	padding: 2rem 0;
	display: flex;
	justify-content: center;
}

.section--credits a {
	text-decoration: underline;
	text-underline-offset: 0.4rem;
	color: white;
	transition: all 0.12s ease-out;
}

.section--credits a:hover {
	color: skyblue;
}

.section--credits a:active {
	color: white;
}
